*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
.form{
    height: 100vh;
    background-color: #333333;
    position: relative;
    background-color: #333333;
    background-image: linear-gradient(315deg,
                    #222222 0%, #333333 74%);
                    background: url(wave.png);
        background-size: cover;
        background-repeat: no-repeat;
        justify-items: center;
        justify-content: center;
        align-items: center;
}
.panel{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width:inherit;
    
}
.panel img{
    justify-content:left;
    margin: 0px 100px 0px 0px ;
}
#About a{
    padding: 30px;
    margin:20px 5px 20px 5px;
    font-size: 1.5rem;    
    margin:40px;
}
.panel #LogIn{  
    justify-content: flex-end;
    padding:10px;
    margin:0px 5px 0px 200px;

}
.panel #SignUp{
    justify-content: flex-end;
    padding:10px;
    margin: 0px -200px 0px 5px;
}
hr{
    width:1500px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 190px;
    display: flex;
}