body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0;
}

.main .headers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
	margin-bottom: 2rem;
}

.headers h1 {
	font-size: 2.5rem;
}

.headers span {
	color: var(--accent);
}

.headers p {
	color: var(--text-secondary);
	font-size: 1.25rem;
}

form .input, form textarea {
	padding: 1.25rem 1.5rem;
	border-radius: 1rem;
	border: none;
	background-color: var(--foreground);
	font-size: 1.25rem;
	width: 100%;
	color: var(--text-primary);
	resize: none;
}

form .inputs {
	margin-bottom: 2rem;
}

form textarea {
	overflow-y: scroll;
}

form .info {
	display: flex;
	gap: 15px;
	margin-bottom: 15px;
}

form .btn {
	padding: 1rem 2rem;
	font-size: 1.25rem;
	border: none;
	border-radius: 1rem;
	width: 100%;
	background-color: var(--accent);
	font-weight: 600;
	cursor: pointer;
	transition: 300ms;
	color: var(--background);
}

form .btn:hover {
	transform: translateY(-5px);
}

.hidden {
	display: none;
}

@media screen and (max-width: 768px) {
	.main {
		margin-left: 10%;
		margin-right: 10%;
	}

	.main .content {
		width: 100%;
	}

	.headers h1 {
		font-size: 2rem;
	}

	.headers p {
		font-size: 1rem;
	}

	.content {
		width: 100%;
	}

	.hidden {
		display: block;
	}
}

@media screen and (max-width: 500px) {
	form .info {
		flex-direction: column;
	}
}