body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
}

.InputMessage h1 {
    color: var(--text-primary);
    font-size: 2.25rem;
    text-align: center;
}

.InputMessage p {
    color: var(--text-secondary);
    font-size: 1.15rem;
    text-align: left;
    text-align: center;
	margin: 5px 0 3.5rem 0;
}

.InputMessage span {
    color: var(--accent);
}

.form1 #fname {
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 9px;
    height: 45px;
    width: 343px;
    padding: 8px;
    color: var(--text-secondary);
    font-size: medium;
    padding-left: 15px;
}

.form1 #femail {
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 9px;
    height: 45px;
    width: 343px;
    padding: 8px;
    color: var(--text-secondary);
    margin-left: 5px;
    font-size: medium;
    padding-left: 15px;
}

.form2 textarea {
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 9px;
    height: 150px;
    width: 700px;
    margin: 10px;
    padding: 10px;
    color: var(--text-secondary);
    resize: none;
    font-size: medium;
    padding-left: 15px;
}

.form3 img {
    float: inline-start;
    width: 30px;
    height: 13px;
}

.form3 #button {
    box-sizing: border-box;
    background-color: var(--accent);
    color: var(--background);
	font-size: 1.15rem;
	font-weight: 500;
    padding: 15px 0;
    width: 700px;
    cursor: pointer;
    border: none;
    border-radius: 9px;
	transition: 300ms;
}

.form3 #button:hover {
    transform: scale(1.05);
}

/*
-------------------------------------------------
Media queries -----------------------------------
-------------------------------------------------
*/

@media screen and (max-width: 1200px) {
    main {
        margin-left: 30px;
    }
    #password {
        display: block;
        width: 253px;
    }
    #email {
        width: 253px;
    }
    .btn {
        width: 253px;
        padding-left: 90px;
    }
    .footer-links {
        margin-top: 20px;
        margin-left: 142px;
    }
}
@media screen and (max-width: 768px) {
    main {
        margin-left: 30px;
    }
    #password {
        display: block;
        width: 253px;
    }
    #email {
        width: 253px;
    }
    .btn {
        width: 253px;
        padding-left: 90px;
    }
    .footer-links {
        margin-top: 20px;
        margin-left: 142px;
    }
}
@media screen and (max-width: 500px) {
    main {
        margin-left: 30px;
    }
    #password {
        display: block;
        width: 253px;
    }
    #email {
        width: 253px;
    }
    .btn {
        width: 253px;
        padding-left: 90px;
    }
    .footer-links {
        margin-top: 20px;
        margin-left: 142px;
    }
}
@media screen and (max-width: 850px) {
    main {
        margin-left: 30px;
    }
    #password {
        display: block;
        width: 253px;
    }
    #email {
        width: 253px;
    }
    .btn {
        width: 253px;
        padding-left: 90px;
    }
    .footer-links {
        margin-top: 20px;
        margin-left: 142px;
    }
}
