.container {
    margin-top: 100px;
}

.container .image svg {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.container .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}

.container .text h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.container .text p {
    color: var(--text-secondary);
    font-size: 1.15rem;
}

.container .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.container .buttons button, .buttons a {
    align-self: flex-start;
    padding: 10px 20px;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

.buttons button:hover, .buttons a:hover {
    transform: scale(1.05);
}

.buttons #back {
    background-color: var(--foreground);
    color: var(--text-primary);
}

.buttons #back svg {
    transform: scale(-1, 1);
    height: 15px;
}

.buttons #back svg path {
    fill: var(--text-primary);
}

.buttons #home {
    background-color: var(--accent);
    color: var(--background);
}

.border-light #home svg path#circle {
    fill: var(--accent);
}

@media screen and (max-width: 576px) {
    .container {
        transform: scale(0.9);
    }
}