.Container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.Accordion{
	width: 750px;
	height: 60px;
	
}
.AccordionText{
	padding: 20px;
}

.Accordion .AccordionHr{
	color:gray;
	line-height: 1px;
	border-style:outset;
}