/*
-------------------------------------------------
Main content ------------------------------------
-------------------------------------------------
*/
body {
	background-image: url(../assets/icons/blob.svg);
	background-repeat: no-repeat;
	background-position: -300px -100px;
	/* height: 100vh; */
}

.body-light {
	background-image: url(../assets/icons/blob-light.svg);
}

main {
	margin: 5rem 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* 	Calculates minimum height for the main section so its always within the size of the monitor (not when in short heights)
		100vh -> 100% of the available monitor height
		103px -> height of the navbar
		83px -> height of the footer
	*/
	min-height: calc(100vh - 103px - 83px);
}

main #title {
	font-size: 2.75rem;
	margin-bottom: 3rem;
}

main #accent {color: var(--accent);}

main .options p {
	color: var(--text-secondary);
	font-size: 1.25rem;
	margin-bottom: 10px;
}

main .selectors {
	display: flex;
	gap: 10px;
}

.selectors select, .selectors input {
	padding: 10px 15px;
	border-radius: 0.5rem;
	border: none;
	font-weight: 500;
	background-color: var(--foreground);
	color: var(--text-primary);
	font-size: 1.15rem;
}

.selectors select {
	cursor: pointer;
}

::-webkit-calendar-picker-indicator {
	filter: invert(100%);
	cursor: pointer;
}

.border-light ::-webkit-calendar-picker-indicator {
    filter: invert(0);
}

main .btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 1rem 4rem;
	font-size: 1.25rem;
	font-weight: 600;
	border-radius: 1rem;
	border: none;
	color: var(--background);
	background-color: var(--accent);
	margin-top: 2rem;
	cursor: pointer;
	transition: 300ms;
}

.btn svg path {
	fill: var(--background);
}

.btn-light svg path {
	fill: var(--foreground);
}

main .btn:hover {
	gap: 40px;
}

main .btn:active {
	transform: scale(0.9);
	
}
.alltickets {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 1rem 1.5rem;
	font-size: 1.25rem;
	font-weight: 600;
	border-radius: 1rem;
	border: none;
	color: var(--background);
	background-color: var(--accent);
	margin-top: 2rem;
	cursor: pointer;
	transition: 300ms;
}

.alltickets svg path {
	fill: var(--background);
}

.alltickets:hover {
	gap: 40px;
}

main #tickets {
	-webkit-animation: float 4s infinite;
	animation: float 4s infinite;
}


/*
-------------------------------------------------
Keyframe animations -----------------------------
-------------------------------------------------
*/
@-webkit-keyframes float {
	0% {transform: translateY(0);}
	50% {transform: translateY(-15px);}
	100% {transform: translateY(0);}
}

@keyframes float {
	0% {transform: translateY(0);}
	50% {transform: translateY(-15px);}
	100% {transform: translateY(0);}
}

/*
-------------------------------------------------
Media queries -----------------------------------
-------------------------------------------------
*/

/* Laptop screen - 1200px and smaller */
@media screen and (max-width: 1200px) {
	main {
		margin: 2rem 4rem;
	}

	main #tickets {
		height: 400px;
	}

	main #title {
		font-size: 2rem;
	}
}

/* Tablet screen - 768px and smaller */
@media screen and (max-width: 768px) {
	body {
		background-position: -500px -100px;
	}

	main #tickets {
		display: none;
	}
}

/* Phone screen - 500px and smaller */
@media screen and (max-width: 500px) {
	main {
		margin: 4rem 2rem !important;
	}

	main .options .selectors {
		flex-direction: column;
		align-items: flex-start;
	}

	main .btn {
		padding: 0.75rem 2rem;
		width: 100%;
		justify-content: center;
	}

	main .btn img {
		display: none;
	}
}

/* For when the screen is taller than 850px */
@media screen and (min-height: 850px) {
	main {
		margin: 0 4rem;
	}
}