.SignUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items:center ;
    align-items: center;
    align-content: center;
    height:500px;
    width: 500px;
    background-color: var(--text-primary);
    color: var(--text-primary);
}

.Email #email{
    border-radius: 10px;
    background-color: #333333;
}


/*
-------------------------------------------------
Main ------------------------------------------
-------------------------------------------------
*/
main {
	margin-left: 35%;
}

h6 {
	color: var(--text-secondary);
	font-size: 1rem;
}

h1 {
	margin-right: 180px;
	font-size: 2.25rem;
}

h6 {
	margin-right: 300px;
}

#a{
	text-decoration-line: none;
	font-size: 1rem;
	color: var(--accent);
}

.btn {
	width: 515px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 1rem 11rem;
	font-size: 1.25rem;
	font-weight: 600;
	border-radius: 1rem;
	background-color: var(--accent);
	margin-top: 2rem;
	cursor: pointer;
}

#name{
	color: aliceblue;
	border-bottom: none;
	border-right: none;
	width: 253px;
	height: 70px;
	padding-left: 10px;
	background-color: var(--foreground);
	border-radius: 15px;
	font-size: 1.35rem;
	border: 0 0 0 0;
}


#email{
	color: aliceblue;
	border-bottom: none;
	border-right: none;
	padding-left: 10%;
	width: 510px;
	height: 70px;
	padding-left: 10px;
	background-color: var(--foreground);
	font-size: 1.35rem;
	border-radius: 15px;
}
#password{
	color: aliceblue;
	border-bottom: none;
	border-right: none;
	border-bottom: none;
	border-right: none;
	padding-left: 10%;
	width: 510px;
	height: 70px;
	padding-left: 10px;
	background-color: var(--foreground);
	font-size: 1.35rem;
	border-radius: 15px;
}
#password1{
	color: aliceblue;
	border-bottom: none;
	border-right: none;
	padding-left: 10%;
	width: 510px;
	height: 70px;
	padding-left: 10px;
	background-color: var(--foreground);
	font-size: 1.35rem;
	border-radius: 15px;
}
.check{
	margin-left: 4%;
}
.check p {
	display: inline;
}

main .btn:hover {
	gap: 40px;
}

main .btn:active {
	transform: scale(0.9);
}
div a{
	text-decoration: none;
	color: var(--accent);
	transition: 300ms;
	margin-left: 20px;
	
}

form input:not([type="submit"]) {
	background-color: var(--foreground) !important;
}

/*
-------------------------------------------------
Media queries -----------------------------------
-------------------------------------------------
*/

@media screen and (max-width: 1200px) {
	main{
		margin-left: 30px;
	}
	#password{
		display: block;
		width: 253px;
	}
	#email{
		width: 253px;
	}
	.btn{
		width: 253px;
		padding-left: 90px;
	}
	.footer-links{
		margin-top: 20px;
		margin-left: 142px;
	}

  }
  @media screen and (max-width: 768px) {
	main{
		margin-left: 30px;
	}
	#password{
		display: block;
		width: 253px;
	}
	#email{
		width: 253px;
	}
	.btn{
		width: 253px;
		padding-left: 90px;
	}
	.footer-links{
		margin-top: 20px;
		margin-left: 142px;
	}

  }
  @media screen and (max-width: 500px) {
	main{
		margin-left: 30px;
	}
	#password{
		display: block;
		width: 253px;
	}
	#email{
		width: 253px;
	}
	.btn{
		width: 253px;
		padding-left: 90px;
	}
	.footer-links{
		margin-top: 20px;
		margin-left: 142px;
	}

  }
  @media screen and (max-width: 850px) {
	main{
		margin-left: 30px;
	}
	#password{
		display: block;
		width: 253px;
	}
	#email{
		width: 253px;
	}
	.btn{
		width: 253px;
		padding-left: 90px;
	}
	.footer-links{
		margin-top: 20px;
		margin-left: 142px;
	}

  }




