body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
    box-sizing: border-box;
}

.InputMessage{
    justify-content: center;
    text-align: center;
}

.InputMessage p{
    color:#FFFFFF;
    font-weight: 400;
    height:30px;
    font-weight:500;
    font-size: 25px;
    text-align: center;
    
}

.InputMessage #id{
    color:#333333;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    font-weight: 20px;

}

.InputMessage span{
    color:#72EACD;
}

.form1 #fname{
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 4px;
    height:30%;
    width: inherit;
    padding: 8px;
    color: var(--text-secondary);

}

.form1 #femail{
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 4px;
    height:30%;
    width: inherit;
    padding: 8px;
    color: var(--text-secondary);

}

.form2 textarea{
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 4px;
    height: 200%;
    width: 26%;
    margin: 10px;
    padding: 10px;
    color: var(--text-secondary);
    resize: none;

}


.form3 #button{ 
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--background);
  font-weight: 100;
  padding: 8px;
  height: 50%;
  width: 26%;
  cursor: pointer;
  position: center;
  border:none;
  border-radius: 4px;
}

.form3 #button:hover{ 
    box-sizing: border-box;
    background-color: var(--primary);
    color: var(--background);
    font-weight: 100;
    padding: 8px;
    height: 50%;
    width: 26%;
    scale: 1.02;
    cursor: pointer;
    position: center;
    border:none;
    border-radius: 4px;
}