body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
    box-sizing: border-box;
}

.InputMessage{
    justify-content: center;
    text-align: center;
}

.InputMessage p{
    color:#FFFFFF;
    font-weight: 400;
    height:30px;
    font-weight:500;
    font-size: 35px;
    text-align: center;
    
}

.InputMessage #id{
    color:#333333;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    font-weight: 15px;
    margin-top: 10px;
    margin-bottom: 5px;

}

.InputMessage span{
    color:#72EACD;
}

.form1 #fname{
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 9px;
    height:45px;
    width: 343px;
    padding: 8px;
    color: var(--text-secondary);
    font-size: medium;
    padding-left: 15px;

}

.form1 #femail{
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 9px;
    height:45px;
    width: 343px;
    padding: 8px;
    color: var(--text-secondary);
    margin-left:5px;
    font-size: medium;
    padding-left: 15px;

}

.form2 textarea{
    box-sizing: border-box;
    background-color: var(--foreground);
    border: none;
    border-radius: 9px;
    height: 150px;
    width: 700px;
    margin: 10px;
    padding: 10px;
    color: var(--text-secondary);
    resize: none;
    font-size: medium;
    padding-left: 15px;

}

.form3 img{
    float:inline-start;
    width: 30px;
    height:13px;
    
}


.form3 #button{ 
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--background);
  font-weight: 100;
  padding: 8px;
  height: 40px;
  width: 700px;
  cursor: pointer;
  position: center;
  border:none;
  border-radius: 9px;
  font-size: large;
}

.form3 #button:hover{ 
    box-sizing: border-box;
    background-color: var(--primary);
    color: var(--background);
    font-weight: 100;
    padding: 8px;
    transition: 300ms;
    transform: scale(1.05);
    cursor: pointer;
    position: center;
    border:none;
}