/*
-------------------------------------------------
Main content ------------------------------------
-------------------------------------------------
*/
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0;
}

.main .headers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
	margin-bottom: 2rem;
}

.headers h1 {
	font-size: 2.5rem;
}

.headers p {
	color: var(--text-secondary);
	font-size: 1.25rem;
}

.headers a {
	text-decoration: none;
	color: var(--primary);
}

.headers a:hover {
	text-decoration: underline;
}

form .input {
	padding: 1.25rem 1.5rem;
	border-radius: 1rem;
	border: none;
	background-color: var(--foreground);
	font-size: 1.25rem;
	margin-top: 15px;
	width: 500px;
	color: var(--text-primary);
}

form .input:focus {
	outline: 2px solid var(--primary);
}

form #checkbox {
	display: flex;
	gap: 15px;
	color: var(--text-secondary);
	font-size: 1rem;
	margin: 2rem 0;
}

#checkbox input {
	width: 20px;
	border-radius: 1rem;
	cursor: pointer;
	border: none;
	outline: none;
	accent-color: var(--primary);
}

#button {
	padding: 1rem 2rem;
	font-size: 1.25rem;
	border: none;
	border-radius: 1rem;
	width: 100%;
	background-color: var(--primary);
	font-weight: 600;
	cursor: pointer;
	transition: 300ms;
}

#button:hover {
	transform: translateY(-5px);
}

@media screen and (max-width: 600px) {
	.main {
		margin-left: 10%;
		margin-right: 10%;
	}

	.headers h1 {
		font-size: 2rem;
	}

	.headers p {
		font-size: 1rem;
	}

	.content {
		width: 100%;
	}
	
	form .input {
		width: 100%;
	}
}