
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--primary: #72EACD;
	--primary-transparent: #72EACD7F;
	--red: #D14040;
	--background: #222222;
	--foreground: #333333;
	--text-primary: #FFFFFF;
	--text-secondary: #FFFFFF7F;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: var(--background);
	color: var(--text-primary);
	background-image: url(../../assets/Blob.svg);
	background-repeat: no-repeat;
	background-position: -300px -100px;
	/* height: 100vh; */
}


/*
-------------------------------------------------
Navbar ------------------------------------------
-------------------------------------------------
*/
.navbar {
	padding: 0 4rem;
}

.navbar-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	border-bottom: 1px solid var(--text-secondary);
}

.navbar .middle a {
	margin-left: 50px;
}

a.link {
	text-decoration: none;
	color: var(--text-primary);
	transition: 300ms;
}

a.link:hover {
	color: var(--primary);
}

.navbar-content .right #login {
	padding: 8px 20px;
	border: 1px solid white;
	border-radius: 8px;
	margin-left: 1rem;
}

.navbar-content .right #login:hover {
	background-color: var(--text-primary);
}

.navbar-content #burger-menu {
	font-size: 24px;
	transition: 300ms;
	opacity: 0.5;
	cursor: pointer;
	display: none;
}

.navbar-content #burger-menu:hover {
	opacity: 1;
}
body{
  font-family:sans-serif ;
}
h1{
  color:white;
  text-align:center;
  font-size:50 px;
  margin-top: 70px;
}
h2{
	color:gray;
  text-align: center;
  font-size: large;
}
a{
  text-decoration: none;
 color:#72EACD;
  

}
form{
  width:500px;
  margin-top: 30px;
  margin-left: 600px;
  color:gray;
  font-size: 15px;



}
div{
  margin:15px;
  margin-bottom: 0;
}
input{
  border-radius:15px ;
background-color: #333333;
border-bottom: none ;
border-right:none ;
}
input[type="email"]{
  height: 50px;
  width:65%
   ;
}
  input[type="password"]{
    height:50px;
    width:65%;

  }
  button{
    height:40px ;
  margin:5px;
  margin-left:20px ;
  margin-bottom: 80px;
  padding: 10px;
  width:300px;
  border:none;
  cursor:pointer;
  border-radius: 15px;
color:black;
background-color:#56c4a9 ;
font-size: larger;
font-weight: bold;
    }
    #check{
      margin-left:20px;
      text-decoration: none;
    }

footer {
	padding: 2rem 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

footer #copyright {
	color: var(--text-secondary);
}

footer .icons a {
	text-decoration: none;
}

footer .icons img {
	margin-right: 20px;
	width: 20px;
	cursor: pointer;
	opacity: 0.5;
	transition: 300ms;
}

footer .icons img:hover {
	opacity: 1;
}

footer .links a {
	text-decoration: none;
	color: var(--text-primary);
	transition: 300ms;
	margin-left: 20px;
}

footer .links a:hover {
	color: var(--primary);
}
#checkbox{
	color: var(--primary);	
}
