@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root {
	--primary: #72EACD;
	--primary-transparent: #72EACD7F;
	--red: #D14040;
	--background: #222222;
	--foreground: #333333;
	--text-primary: #FFFFFF;
	--text-secondary: #FFFFFF7F;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: var(--background);
	color: var(--text-primary);

	background-repeat: no-repeat;
	background-position: -300px -100px;
	/* height: 100vh; */
}

.Header{
	margin:40px;
}
.Profile{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.Profile #Profile-Paragraph{
	margin-top:20px;
	color: var(--text-secondary);
}
.Profile #EditProfile-Button{
	margin-top: 20px;
}
.Profile  button{
	margin-bottom:50px;
	padding:5px;
	width: 135px;
	height: 45px;
	border-radius: 14px;
	background-color: var(--foreground);
	color: var(--text-primary);
	border: 0px none;
}
.Profile-Picture button{
	background-color: var(--red);
}

.Profile-Button{
	margin:40px;
}
.Profile-Picture{
	margin:40px;
	margin-right:74px;
}
.Ticket-buttons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin:30px;
	gap:50px;
}

.Ticket-buttons #All-Tickets{
	width: 300px;
	height:50px;
	border-radius: 13px;
	background-color: #333333;
	color: #FFFFFF;
	border: 0px none;
}
.Ticket-buttons #All-Tickets img{
	margin-left:15px ;
	float:left;
}

.Ticket-buttons #All-Tickets:hover{
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
	
}

.Ticket-buttons #All-Tickets:active{
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(0.9);
	transition: 300ms;
	transform: rotateY(-180deg);
}

.Ticket-buttons #Travels{
	width: 300px;
	height:50px;
	border-radius: 13px;
	background-color: #333333;
	color: #FFFFFF;
	border: 0px none;
}

.Ticket-buttons #Travels img{
	margin-left:15px ;
	float:left;
}
.Ticket-buttons  #Travels:hover{
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
	
}

.Ticket-buttons #Movies {
	width: 300px;
	height:50px;
	border-radius: 13px;
	background-color: #333333;
	color: #FFFFFF;
	border: 0px none;
}

.Ticket-buttons #Movies img{
	margin-left:15px ;
	float:left;
}
.Ticket-buttons #Movies:hover{
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
	
}

.Ticket-buttons #Concerts{
	width: 300px;
	height:50px;
	border-radius: 13px;
	background-color: #333333;
	color: #FFFFFF;
	border: 0px none;
}

.Ticket-buttons #Concerts img{
	margin-left:15px ;
	float:left;	
}

.Ticket-buttons #Concerts:hover{
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
}









/*
-------------------------------------------------
Navbar ------------------------------------------
-------------------------------------------------
*/
.navbar {
	padding: 0 4rem;
}

.navbar-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	border-bottom: 1px solid var(--text-secondary);
}

.navbar .middle a {
	margin-left: 50px;
}

a.link {
	text-decoration: none;
	color: var(--text-primary);
	transition: 300ms;
}

a.link:hover {
	color: var(--primary);
}

.navbar-content .right #login {
	padding: 8px 20px;
	border: 1px solid white;
	border-radius: 8px;
	margin-left: 1rem;
}

.navbar-content .right #login:hover {
	background-color: var(--text-primary);
}

.navbar-content #burger-menu {
	font-size: 24px;
	transition: 300ms;
	opacity: 0.5;
	cursor: pointer;
	display: none;
}

.navbar-content #burger-menu:hover {
	opacity: 1;
}
footer {
	padding: 2rem 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

footer #copyright {
	color: var(--text-secondary);
}

footer .icons img {
	margin-right: 20px;
	cursor: pointer;
	opacity: 0.5;
	transition: 300ms;
}

footer .icons img:hover {
	opacity: 1;
}

footer .links a {
	text-decoration: none;
	color: var(--text-primary);
	transition: 300ms;
	margin-left: 20px;
}

footer .links a:hover {
	color: var(--primary);
}
