@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--primary: #72EACD;
	--primary-transparent: #72EACD7F;
	--red: #D14040;
	--background: #222222;
	--foreground: #333333;
	--text-primary: #FFFFFF;
	--text-secondary: #FFFFFF7F;
	--line-break: #5a5a5a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: var(--background);
	color: var(--text-primary);

	background-repeat: no-repeat;
	background-position: -300px -100px;
	/* height: 100vh; */
}

/*
-------------------------------------------------
Navbar ------------------------------------------
-------------------------------------------------
*/
.navbar {
	padding: 0 4rem;
}

.navbar-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	border-bottom: 1px solid var(--text-secondary);
}

.navbar .middle a {
	margin-left: 50px;
}

a.link {
	text-decoration: none;
	color: var(--text-primary);
	transition: 300ms;
}

a.link:hover {
	color: var(--primary);
}

.navbar-content .right #login {
	padding: 8px 20px;
	border: 1px solid white;
	border-radius: 8px;
	margin-left: 1rem;
}

.navbar-content .right #login:hover {
	background-color: var(--text-primary);
}

.navbar-content #burger-menu {
	font-size: 24px;
	transition: 300ms;
	opacity: 0.5;
	cursor: pointer;
	display: none;
}

.navbar-content #burger-menu:hover {
	opacity: 1;
}



/*
-------------------------------------------------
Profile ------------------------------------------
-------------------------------------------------
*/

.Header {
	margin: 40px;
}

.Profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Profile #Profile-Paragraph {
	margin-top: 17px;
	color: var(--text-secondary);
}

.Profile #EditProfile-Button {
	margin-top: 87px;
}

.Profile button {
	padding: 5px;
	width: 140px;
	height: 45px;
	border-radius: 10px;
	background-color: var(--foreground);
	color: var(--text-primary);
	border: 0px none;
}

.Profile-Picture button {
	background-color: var(--red);
}


.Profile-Picture #LogOut-Profile {
	margin-top: 80px;
	margin-left: 170px;
}

.Profile-Picture #Profile-Paragraph1 {
	margin: 0px 5px 0px 0px;
	float: right
}

.Profile-Picture #LogOut-Profile:hover {
	transform: scale(1.09);
	transition: 300ms;
	cursor: pointer;
}

.Profile-Picture #LogOut-Profile:active {
	transform: scale(0.9);
	transform: 300ms;
	cursor: pointer;
}


.Profile-Button #EditProfile-Button:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
}

.Profile-Button {
	margin: 60px;
}

.Profile-Picture {
	margin: 50px;
	margin-right: 74px;
}

.Ticket-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px;
	gap: 60px;
}

.Ticket-buttons .tab-button {
	max-width: 350px;
	padding: 0.5rem 2rem 0.5rem 0.5rem;
	border-radius: 13px;
	background-color: #333333;
	color: #FFFFFF;
	border: 0px none;
	font-size: 1.2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	font-weight: 500;
}

.tab-button.active {
	background-color: var(--primary);
	color: #333;
}

.Ticket-buttons #All-Tickets img {
	margin-left: 15px;
	float: left;
}

.Ticket-buttons #All-Tickets:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;

}


.Ticket-buttons #Travels img {
	margin-left: 15px;
	float: left;
}

.Ticket-buttons #Travels:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;

}

.Ticket-buttons #Movies img {
	margin-left: 15px;
	float: left;
}

.Ticket-buttons #Movies:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;

}

.Ticket-buttons #Concerts img {
	margin-left: 15px;
	float: left;
}

.Ticket-buttons #Concerts:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
}

.Ticket-buttons p {
	float: left;
	margin: 1px 1px 1px 10px;
}

/*
-------------------------------------------------
TicketBlocks ------------------------------------------
-------------------------------------------------
*/

.TicketBlocks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

.TicketBlocks hr {
	width: 390px;
	margin: auto;
	color: var(--line-break)
}


.Block {
	width: 450px;
	height: 250px;
	background-color: var(--foreground);
	border-radius: 15px;
	margin:30px;
	float:right;
}


.Block .TicketType {
	font-size: 1.2rem;
	display: flex;
}

.Block .TicketType img {
	margin: 10px 0px 10px 18px;
	float: left;
	display: flex;
}

.Block .TicketType text {
	margin: 10px 0px 10px 20px;
	padding: 5px;
}

.TicketTitle {
	margin: 20px 0px 20px 20px;
}

.Trash {
	background-color: var(--red);
	border-radius: 9px;
	height: 15px;
	width: 18px;

}

.TicketDate {
	margin: 20px 0px 0px 20px;
}

.TicketTime {
	color: var(--text-secondary);
	margin: 5px 0px 15px 40px;
}

.TicketLocation {
	margin: 5px 0px 15px 20px;
}

.TicketDate img {
	margin-top: 10px;
	float: left;
	margin-right: 5px;
}


/*
-------------------------------------------------
Footer ------------------------------------------
-------------------------------------------------
*/

footer {
	padding: 2rem 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

footer #copyright {
	color: var(--text-secondary);
}

footer .icons img {
	margin-right: 20px;
	cursor: pointer;
	opacity: 0.5;
	transition: 300ms;
}

footer .icons img:hover {
	opacity: 1;
}

footer .links a {
	text-decoration: none;
	color: var(--text-primary);
	transition: 300ms;
	margin-left: 20px;
}

footer .links a:hover {
	color: var(--primary);
}