/*
-------------------------------------------------
Profile ------------------------------------------
-------------------------------------------------
*/
*{
	margin:3px;
}
.Header {
	margin: 40px;
}

.Profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Profile #Profile-Paragraph {
	margin-top: 17px;
	color: var(--text-secondary);
}

.Profile #EditProfile-Button {
	margin-top: 87px;
}

.Profile button {
	padding: 5px;
	width: 140px;
	height: 50px;
	border-radius: 10px;
	background-color: var(--foreground);
	color: var(--text-primary);
	border: 0px none;
	font-size: 1.2rem;
}

.Profile-Picture button {
	background-color: var(--red);
}


.Profile-Picture #LogOut-Profile {
	margin-top: 80px;
	margin-left: 170px;
}

.Profile-Picture #Profile-Paragraph1 {
	margin: 0px 5px 0px 0px;
	float: right
}

.Profile-Picture #LogOut-Profile:hover {
	transform: scale(1.09);
	transition: 300ms;
	cursor: pointer;
}

.Profile-Picture #LogOut-Profile:active {
	transform: scale(0.9);
	transform: 300ms;
	cursor: pointer;
}


.Profile-Button #EditProfile-Button:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
}

.Profile-Button {
	margin: 60px;
}

.Profile-Picture {
	margin: 50px;
	margin-right: 74px;
}

.Ticket-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px;
	gap: 60px;
}

.Ticket-buttons .tab-button {
	width:400px;
	height: 60px;
	padding: 0.5rem 2rem 0.5rem 0.5rem;
	border-radius: 13px;
	background-color: #333333;
	color: #FFFFFF;
	border: 0px none;
	font-size: 1.2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	font-weight: 500;
}

.tab-button.active {
	background-color: var(--primary);
	color: #333;
}

.Ticket-buttons #All-Tickets:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;

}

.Ticket-buttons img {
	margin-left: 15px;
	float: left;
}

.Ticket-buttons #Travels:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
}



.Ticket-buttons #Movies:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;

}

.Ticket-buttons #Concerts:hover {
	background-color: var(--primary);
	cursor: pointer;
	transform: scale(1.09);
	transition: 300ms;
}

.Ticket-buttons p {
	float: left;
	margin: 1px 1px 1px 10px;
}

/*
-------------------------------------------------
TicketBlocks ------------------------------------------
-------------------------------------------------
*/

.TicketBlocks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

.TicketBlocks hr {
	width: 390px;
	margin: auto;
	color: var(--line-break)
}


.Block {
	width: 427px;
	height: 250px;
	background-color: var(--foreground);
	border-radius: 15px;
	margin:30px;
	float:right;
}


.Block .TicketType {
	font-size: 1.2rem;
	display: flex;
}

.Block .TicketType img {
	margin: 10px 0px 10px 18px;
	float: left;
	display: flex;
}

.Block .TicketType text {
	margin: 10px 0px 10px 20px;
	padding: 5px;
}

.TicketTitle {
	margin: 20px 0px 20px 20px;
}

.Trash {
	background-color: var(--red);
	border-radius: 9px;
	height: 15px;
	width: 18px;

}

.TicketDate {
	margin: 20px 0px 0px 20px;
}

.TicketTime {
	color: var(--text-secondary);
	margin: 5px 0px 15px 40px;
}

.TicketLocation {
	margin: 5px 0px 15px 20px;
}

.TicketDate img {
	margin-top: 10px;
	float: left;
	margin-right: 5px;
}	

.TicketType .TicketText{
	color: var(--primary);
}
