@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--primary: #56C4A9;
	--primary-transparent: #56C4A97F;
	--red: #D14040;
	--background: #222222;
	--foreground: #333333;
	--text-primary: #FFFFFF;
	--text-secondary: #FFFFFF7F;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}