
body {
	background-image: url(../assets/icons/blob.svg);
	background-repeat: no-repeat;
	background-position: -300px -100px;
	/* height: 100vh; */
}

.body-light {
	background-image: url(../assets/icons/blob-light.svg);
}

main #title {
	font-size: 2.75rem;
	margin-bottom: 3rem;
}

main p {
	color: var(--text-secondary);
	font-size: 1.25rem;
}

main #accent { color: var(--accent);}

.btn svg path {
	fill: var(--background);
}

.btn-light svg path {
	fill: var(--foreground);
}


::-webkit-calendar-picker-indicator {
	filter: invert(100%);
	cursor: pointer;
}

.border-light ::-webkit-calendar-picker-indicator {
    filter: invert(0);
}